color = #FF7F1C
// color = #FDA35E
nav
	background color
	font-family Arial
	font-size 12px
	li
		margin-left -2px
		margin-right -2px
		display inline-block
		border-left 1px solid #aaa
		width 20%
		a
			color white
			display block
			line-height 50px
			text-decoration none
			&:hover
				background-color color
